.bg-myRed{
    background-color: rgb(143, 0, 179);
}

.NavTo{

  background-image: linear-gradient(to bottom, #007299, #10779d, #1b7da1, #2482a5, #2c88a9, #368cab, #3e8fad, #4693af, #5096af, #5a99b0, #629cb0, #6b9fb1);
}


.navbar-brand{
    margin-left: 0;
  
}

#navBran{
  margin-right: 5rem;
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.content{
    padding: 12px;
    height: 3000px;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1.2rem;
    font-family: 'Merriweather', serif;
}

.navbar-nav .dropdown-menu{
  background-image: linear-gradient(to bottom, #007299, #10779d, #1b7da1, #2482a5, #2c88a9, #368cab, #3e8fad, #4693af, #5096af, #5a99b0, #629cb0, #6b9fb1);
}
  
  .coloring{
    color: rgb(0, 0, 0);
  }


  .titulo{

    height: 800px
    
  }

  .subBor{

    display: grid;
  
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: "n n n n"
                         "foto1 foto2 foto3 foto4"
                         "foto5 foto6 foto7 foto8";
   text-align: center;
   justify-content: center;
   margin: 0px 0 30px 0;
   gap: 10px;

  }

  .karusel{
    width: 300px;
    height: 400px;
  }

  .contacto {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
  }

  .blog {
    display: flex;
    align-items: center;
    text-align: center;
    
  }
  .Car{
   display: flex;
   height: 20px;
   margin: 0 5px 0 0;
  }

  .Car div{
    margin-left: 10px;
  }
  .carPadre{
    margin: 0 0 0 30px;
  }
  
  .carTitle{
    display: flex;
   justify-content: center;
   margin-top: 20px;
  }
  .carPage{
    display: inline-flex;
   margin: 30px 30px 30px 0;
  }

  .carFind{
    display: block;
    margin: 30px 400px 0px 400px;
  }

  .carFind h2{
    margin-bottom: 30px;
  }

  .carFind a{
    text-decoration: none;
  }

  .carFind h4{
    margin: 0 40px 0 40px;
  }
.padre{
  width: 3000px;
  
}
  .padreHouse{
   
    background-image: url("./huerto.jpg");
   min-height: 500PX;
   width: 100%;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-attachment: fixed;
    }

    .homeUno{
      
      display: grid;
      justify-content: center;
      align-items: center;
    }

    .homeUno h1 {
      color: rgb(255, 255, 255);
     font-size: 4rem;
      font-family: 'Merriweather', serif;
      border-radius: 8px;
      padding: 10px;
      margin-top: 100px;
      border: 3px solid transparent;
    }

  

    .botonHome{
      color: white;
      font-size: 2rem;
      font-family: 'Merriweather', serif;
      border-radius: 8px;
      padding: 10px;
      background: rgb(80, 80, 80);
      border: 3px solid transparent;
      margin: 0 0 0 200px;
    }

    .botonHome:hover{
      background: rgb(44, 255, 1);
    }