.detailContainer{
    margin: 15px 0 0 20px;
    width: 100vw;
    height: 100vh;

}

.detailConta{
    display: grid;
  grid-template: repeat(10, 1fr)/repeat(10, 1fr);
  height: 100vh;
}

.detailConta .detailImg{
    grid-column: 2 / 10;
    grid-row: 2 / 10;
}
.detailConta .detailImg img{
   width: 350px;
   height: 300px;
    
}

.detailConta .desto {
    grid-column: 7 / 9;
    grid-row: 1 / 1;
    text-align: center;
    align-items: center;
    display: grid; 
}
    
 


.detailConta .destro{
    grid-column: 7 / 9;
    grid-row: 2 / 2;
    text-align: center;
    align-items: center;
    display: grid; 
}

.detailConta .desto h1 {
    background-color: #008f8f;
    border-radius: 3px;
}

.detailConta .descrip{
    grid-column: 6 / 10;
    grid-row: 3 / 3;
    text-align: center;
    align-items: center;
    display: grid; 
}

.detailConta  .descripSure {
    grid-column: 7 / 9;
    grid-row: 4 / 4;
    text-align: center;
    align-items: center;
    display: grid; 
}

.SureCount{
    width: 130px;
}

.descripAgg{
    grid-column: 6 / 10;
    grid-row: 6 / 6;
    border-radius: 20px;
   
    display: grid; 
    background-color: #008f8f;
    padding: 0;
    
}

.descripAgg button{
    font-size: 1.8rem;
    font-family: 'Readex Pro', sans-serif;
    background-color: #008f8f;
    color: black;
    border-color: #008f8f;
    border-radius: 20px ;
}
 
.descripAgg button h2{
    border-radius: 10px;
}